{% extends "maintemplate.html" %}

{% block content %}
                
                <div class="span9">
                
                <p class="lead">Some of our past works:</p>
                
                    <a href="../static/Bang.pdf">Tom Viccaro - Bang</a>
                    
                    <br>
                    
                    <a href="../static/theflight.pdf">Michael Ostrow - The Flight</a>
                
                </div>
                
{% endblock %}                