{% extends "maintemplate.html" %}

{% block content %}
                
                <div class="span9">
                
                <p class="lead">Some of our past works:</p>
                
                {% for x in archive %}
                
                <p>
                <a href="/archive/{{x.key().id()}}">{{x.submit_date}}: {{x.title}}</a>
                </p>
                
                {% endfor %}
                
                </div>
                
{% endblock %}                