{% extends "maintemplate.html" %}

{% block content %}
                
                <div class="span9">
                
                <p class="lead">Some of our past works:</p>
                
                    <a href="../static/writing/bang.pdf">Tom Viccaro - Bang</a>
                    
                    <br>
                    
                    <a href="../static/writing/theflight.pdf">Michael Ostrow - The Flight</a>
                    
                    <br>
                    
                    <a href="../static/writing/Racetracks.pdf">Eliza Swieczkowski - Racetracks</a>
                    
                    <br>
                    
                    <a href="../static/writing/Whatmeadowlark.pdf">Eden Shulman - The Meadowlark and the Bear</a>
                
                </div>
                
{% endblock %}                