<!DOCTYPE html>

<html>

<form method="post">

<div>
<label><p>Title</p>
<input name="title" style="width: 300px;" value="{{titlev}}"></input>
</label>
</div>

<br>

<div>
<label><p>Content</p>
<textarea name="content" style="height: 150px; width: 400px;">{{textv}}</textarea>
</label>
</div>

<br>

<div>
<label><p>Password</p>
<input type="password" name="password" style="width: 300px;" value="{{passv}}"></input>
</label>
</div>

<br>

<input type="submit">

<span style="color: red">{{eerror}}</span>

</form>

<!--
<form action="blobupload" method="post" enctype="multipart/form-data">
	Upload File: 
	<input type="file" name="file"><br> 
	<input type="submit" name="submit" value="Submit">
</form>
-->

</html>