{% extends "maintemplate.html" %}

{% block content %}

<p class="lead">Get to know our board!</p>
    
    <div class="row">
        
        <div class="span3">
            <img src="../static/pics/tomv.jpg">
            <p class="text-center">Tom Viccaro</p>
            <p class="text-center">President</p>
            <p class="text-center">viccaro.t@husky.neu.edu</p>
        </div>
        
        <div class="span3">
            <img src="../static/pics/edens.jpg">
            <p class="text-center">Eden Shulman</p>
            <p class="text-center">Vice President</p>
            <p class="text-center">shulman.ed@husky.neu.edu</p>
        </div>
        
        <div class="span3">
            <img src="../static/pics/danbrown.jpg">
            <p class="text-center">Dan Brown</p>
            <p class="text-center">Treasurer</p>
            <p class="text-center">troii337@gmail.com</p>
        </div>
    
    </div>
    
    <div class="row">
        
        <div class="span3 offset1">
            <img src="../static/pics/amanda.jpg">
            <p class="text-center">Amanda Schwartz</p>
            <p class="text-center">Outreach Officer</p>
            <p class="text-center">schwartz.aman@husky.neu.edu</p>
        </div>
        
        <div class="span3 offset1">
            <img src="../static/pics/mike.jpg">
            <p class="text-center">Michael Ostrow</p>
            <p class="text-center">Webmaster</p>
            <p class="text-center">michaelostrow321@gmail.com</p>
        </div>
    
    </div>
    
{% endblock %}