{% extends "maintemplate.html" %}

{% block content %}

<p class="lead">Get to know our board!</p>
    
    <div class="row">
    
        <div class="span3">
            <img src="../static/pics/human.jpg">
            <p class="text-center"></p>
        </div>
        
        <div class="span3">
            <img src="../static/pics/tomv.jpg">
            <p class="text-center">Tom Viccaro</p>
        </div>
        
        <div class="span3">
            <img src="../static/pics/mick.jpg">
            <p class="text-center">Mick Theebs</p>
        </div>
    
    </div>
    
    <div class="row">
    
        <div class="span3">
            <img src="../static/pics/mike.jpg">
            <p class="text-center">Michael Ostrow</p>
        </div>
        
        <div class="span3">
            <img src="../static/pics/danbrown.jpg">
            <p class="text-center">Dan Brown</p>
        </div>
        
        <div class="span3">
            <img src="../static/pics/human.jpg">
            <p class="text-center">A Person</p>
        </div>
    
    </div>
    
{% endblock %}