<!DOCTYPE html>
<html lang="en">

    <head>
    
        <meta charset="utf-8">
        
        <title>NEU Write Club</title>
        
        <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css"/>
        
    </head>
    
    <body>
    
        <div class="container">
            
            <h1>NEU Write Club</h1>
            
            <hr>
        
            <div class="row">
            
                <div class="span3">
                
                    <div>
                        <a href="/eboard">Get to know our board members!</a>
                    </div>
                    
                    <br>
                    
                    <div>
                        <a href="/prompts">Check out some fun writing prompts!</a>
                    </div>
                
                </div>
                
                <div class="span9">
                    
                    <p class="lead">
                    The Northeastern Writing Club is the place for sharing, discussing, and even creating your own writing. 
                    We meet <br><br> WEDNESDAYS AT 7:00PM @ 342 CURRY STUDENT CENTER <br><br> and our meetings are open to all. So if you like writing, 
                    or are just interested in hearing other people's, come on by!
                    </p>
                    
                    <div>
                        
                        <form method="post">
                            <h3>Join our mailing list!</h3>
                                
                                <div>
                                    
                                        <input type="text" name="email" value="{{email}}">
                                        Email
                                    
                                
                                    <span style="color: red">{{eerror}}</span>
                                </div>
                    
                            <input type="submit">
                        </form>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
        
    </body>
</html>