{% extends "maintemplate.html" %}

{% block content %}
                
                <div class="span9">
                
                    <p class="lead">The Northeastern Writing Club is the place for sharing, discussing, and even creating your own writing. 
                    We meet <b>THURSDAYS AT 6:30PM @ 16-18 INTERNATIONAL VILLAGE</b> and our meetings are open to all. So if you like writing, 
                    or are interested in hearing other people's work, come on by!</p>
                
                    <div>
                        
                        <form method="post">
                            <h3>Join our mailing list!</h3>
                                
                                <div>
                                    
                                        <input type="text" name="email" value="{{email}}">
                                        Email
                                    
                                
                                    <span style="color: red">{{eerror}}</span>
                                </div>
                    
                            <input type="submit">
                        </form>
                        
                    </div>
                    
                    <div class="span7">
                        
                        <label>
                        The Club at an open mic event April 2013
                        <img src="../static/pics/club1.jpg">
                        </label>
                        
                    </div>
                
                </div>
                
{% endblock %}                