{% extends "maintemplate.html" %}

{% block content %}
                
                <div class="span9">
                
                    <p class="lead">Try a prompt</p>
                    
                    <p>{{the_prompt}}</p>
                
                    <p><a href="/prompts">New prompt?</a></p>
                    
                    <br>
                
                    <div>
                        <p class="lead">Know a good prompt or excercise? Share it with us here:</p>
                    </div>
                    
                    <form method="post">
                    
                        <div>
                            <textarea name="content" style="height: 150px; width: 400px;"></textarea>
                        </div>
                        
                        <input type="submit">
                        
                        <span style="color: red">{{perror}}</span>
                        
                    </form>
                
                </div>
                
{% endblock %}                